/* #1f2324 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.header {
    position: relative;
    height: 100vh; /* Full viewport height for demonstration */
}

.background-image {
    background-image: url('https://shorturl.at/WYMlx'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Background stays behind navbar */
}

.buttons{
    color: pink;
    margin-top: 25.5rem;
    margin-left: 8rem;
    /* border: 2px solid red; */
    height: 5rem;
    /* padding: 2rem 5rem; */
    /* margin: 2rem; */
    position: absolute;
    text-align: center;
    z-index: 2; /* Ensure buttons are on top of the image */

}

.buttons>button:not(.button1){
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.0); /* Semi-transparent background */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons>button:not(.button1):hover{
    color: white;
}

.button1{
    /* color: aquamarine; */
    margin-right: 2rem;
    background-color: #a87536;
    padding: 1rem;
    font-size: 1.15rem;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: white;
    transition:  0.3s ease, transform 0.3s ease;
}

.button1:hover{
    color: black;
    background-color: #ebbc5d ;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: 2; /* Navbar stays on top */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 60px;
    /* margin-top: 2rem; */
    transition: background-color 0.3s ease;
}

.navbar>ul>li>img{
    margin-right: 5rem;
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.content {
    padding: 20px;
}

.testing{
    color: red;
    margin-top: 5em;
    /* margin-left: 36rem; */
    border: 2px solid aqua;
    display: flex;
    justify-content: center;
}
